.container {
  height: 100vh;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loginForm {
  text-align: center;
  color: #e2e2e2;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

#loginBtn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e2e2e2;
}
