.container {
  height: 100vh;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loginForm {
  text-align: center;
  color: #e2e2e2;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

#loginBtn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e2e2e2;
  background-color: #434A42;
  height: 60px;
  line-height: 56px;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

#loginBtn:focus {
  outline: none;
  background-color: #6d7a6c;
}
