.toolContainer {
  min-height: 20%;
  max-height: 20%;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #e2e2e2;
}

.iconContainer {
  width: 19.4%;
  height: 100%;
  margin: 0;
  display: inline-block;
}

.icon {
  height: 100%;
  width: 100%;
}

.secondContainer {
  display: inline-block;
  height: 100%;
  width: 80%;
  float: right;
}

.nameTierContainer {
  height: 50%;
  width: 100%;
  display: inline-block;
}

.nameContainer {
  display: inline-block;
  width: 80%;
  height: 100%;
}

.name, .tier, .durability {
  text-transform: uppercase;
  text-align: center;
  color: #e2e2e2;
  font-size: 12px;
}

.tierContainer {
  display: inline-block;
  width: 19.6%;
  height: 100%;
}

.durabilityContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
